html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #343A40;
    scroll-behavior: smooth;
}

body.active {
    overflow:hidden;
}

* {
    margin:0;
    padding:0;
    text-shadow:1px 1px 1px rgba(0,0,0,0.005);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

.textpage p{
    margin-bottom: 14px;
    line-height: 16px;
}

h1{
	text-align: center;
	font-size: 36px;
}

h1.align-left{
    text-align: left;
}

.logo-block img{
	max-width: 360px;
}

.site-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

a {
    text-decoration:udnerline;
    color:inherit;
}

a:hover {
    text-decoration: none;
}

.page-wrapper {
    width:100%;
    max-width: 1220px;
    margin:0 auto;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 10px;
}

.page-wrapper-wide{
    width:100%;
    max-width: 1440px;
    margin:0 auto;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 10px;
}

.slider-srapper{
    position: relative;
    z-index: 3;
    margin-top: 3%;
}


header {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}


.header-top-row-wrap {
    background-color:#E31E25;
}


.main-nav {
    width:100%;
}

.main-nav .main-logo img{
    height: 60px;
}

.main-nav ul {
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    flex-flow:row nowrap;
    padding:13px 0;
    list-style: none;
}

.main-nav ul li, .main-nav ul li a {
    font-weight: 600;
    color:#fff;
}

.main-nav ul li:not(.main-account) a {
    width:100%;
    box-sizing: border-box;
    padding:8px;
    text-decoration: none;
    text-align: center;
    display:block;
    transition: 0.2s;
    font-size: 15px;
}

.main-nav .main-email img{
    margin-right: 10px;
    
}

.main-nav .main-email a{
    font-size: 13px;
    color: #FFD500;
}

.main-nav .main-account a.auth-link{
    border: 2px solid #FFD500;
    border-radius: 20px;
    padding: 8px 32px;
    color: #FFD500;
}

.main-nav .main-account a.link-logout{
    width: 38px;
    height: 38px;
    background: url(../img/logout.svg) center center no-repeat;
    background-size:cover;
    display: block;
    margin-left: 20px;
}

.main-account{
    display: flex;
}

.main-nav ul li a:hover {
    color:#b4fbe6;
}


.header-bot-row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:44px;
    padding-bottom: 44px;
    background-color:#fff;
}

.header-cont-block {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:auto;
}

.header-cont-block a {
    margin-left:42px;
    font-size:16px;
    color:#212529;
    font-weight: 500;
    text-decoration: none;
    display:flex;
    justify-content: flex-start;
    flex-flow:row nowrap;
    align-items: center;
    position: relative;
}

.header-cont-block a span{
    position: absolute;
    left: 43px;
    top: 32px;
    font-size: 12px;
    font-weight: normal;
}

.hcl-pic-wrap {
    margin-right:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #DEE2E6;
    border-radius: 100px;
    width:32px;
    height:32px;
}

.header-cont-block a:first-child {
    margin-left:0;
}






.main-pic-slider-panel-section {
    background: #f3b326;
    padding-top:20px;
    padding-bottom: 0px;
    position: relative;
}

.main-text-woman{
    position: relative;
    width: 100%;
    min-height: 622px;
}

.main-text-woman .main-slider-img{
    position: absolute;
    right: 0;
    bottom: 0;
}

.main-text-woman .main-slider-img img{
    display: inherit;
}

    

.main-slider-text-clock{
    min-height: 622px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-slider-text-clock .hd{
    background: #E31E25;
    border-radius: 29.5px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    width: 700px;
    text-align: center;
    padding: 6px 0;
    margin-bottom: 28px;
}
.main-slider-text-clock .slider-content{
    font-size: 16px;
    color: #161514;
    line-height: 30px;
    font-weight: 500;
    width: 49%;
    position: relative;
    z-index: 2;
    
}

.main-slider-text-clock .slider-content p{
    margin-bottom: 10px;
}

.main-pic-slider-panel {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.main-pic-slider-unit-text-block {
    display:flex;
    flex-flow:column;
    justify-content: flex-start;
    align-content: flex-start;
}

.main-pic-slider-unit-text-block p {
    font-size:36px;
    font-weight: 800;
    color:#fff;
    width:100%;
    margin-bottom: 24px;
}

.main-pic-slider-unit-text-block span {
    font-size:18px;
    color:#fff;
    width:100%;
    margin-bottom: 24px;
    font-weight: 500;
}

.main-map-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    background: #ffffff;
}

.main-map-block .map-script-block{
    background: #ccc;
    width: 520px;
    height: 555px;
    overflow: hidden;
}

.main-map-block .map-script-block{
    background: #ffffff;
}

.main-map-block .map-shop-list{
    width: 595px;
    padding: 40px;
}

.main-map-block .map-shop-list .hd{
    font-size: 30px;
    color: #161514;
    letter-spacing: 0.2px;
    font-weight: 700;
    margin-bottom: 24px;
}

.main-map-block .map-script-block{
    width: 523px;
    background: #ccc;
}

.main-map-block .map-shop-list a{
    display: block;
    font-size: 14px;
    color: #161514;
    border-bottom: 1px solid #edf0f2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 37px;
    text-decoration: none;

}


.main-map-block .map-shop-list a img{
    height: 14px;
     margin-right: 10px;
}

.btn-row {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    flex-flow:row wrap;
}

.btn {
    font-size: 16px;
    color: #36394B;
    font-weight: 500;
    line-height: 24px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border:none;
    padding:18px 32px;
    background-color:#FFD43B;
    text-decoration: none;
    text-align:center;
    transition: 0.2s;
}


.white-btn {
    background-color:#fff;
    color: #212529;
}

.green-btn {
    background-color:#e31e24;
    color: #fff;
}

.green-btn:hover{
    background-color:#3e3027;
    color: #fff;
}


.btn:hover {
    background-color:#ffdd63;
}

.btn:focus {
    background-color:#f1c529;
}





.main-pic-graph-block-wrap {
    width:485px;
    min-width:485px;
    margin-left:20px;
}

.graph-block {
    background-color:#fff;
    border-radius: 10px;
    padding:28px;
    box-sizing: border-box;
    width:100%;
}

.mpg-title {
    text-align: center;
    font-size:18px;
    color: #36394B;
    margin-bottom: 28px;
    font-weight: 500;
    text-align: center;
    line-height:28px;
    max-width: 65%;
    margin:0 auto 20px;

}

.mpg-pano {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    width:100%;
    padding: 12px 20px 0 20px;
    box-sizing:border-box;
    height: 251px;
    background:repeating-linear-gradient(to top, #f1f3f5 1px, #fff 2px 20px, #e8ebee 21px 22px, #fff 22px 40px);
}

.graph-unit {
    border-radius: 10px 10px 0 0;
    background-color: #E9ECEF;
    width:40%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.graph-unit.active {
    background-color:#e31e24;
}

.graph-unit-text {
    text-align: center;
    padding:8px;
    box-sizing: border-box;
}

.graph-unit-text {
    color:#99999a;
    font-weight: 600;
}

.graph-unit-text span {
    font-size: 22px;
    font-weight: 500;
    color: #36394B;
}

.graph-unit.active .graph-unit-text {
    color:#ffd43b;
}

.graph-unit.active .graph-unit-text span {
    color:#fff;

}


.g-step-1 {
    height: 45%;
}

.g-step-2 {
    height: 98%;
}

.g-step-3 {
    height:68%;
}



.mpg-title-row {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.mpg-title-unit {
    width: 55%;
    text-align: center;
    padding: 16px 0 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #36394B;
    font-weight: 500;
    opacity: 0.3;
}

.mpg-title-unit.w2 {
    width: 65%;
}

.mpg-title-unit.active {
    opacity: 1;
    color:#3e3027;
}



.mouse-icon {
    position: absolute;
    left:0;
    right:0;
    bottom:20px;
    width:40px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin:auto;
}




.main-block-about-section {
    background-color:#f3b326;
    padding:0 0 60px 0;

}

.main-block-info-section {
    background-color:#ffffff;
    padding:0 0 60px 0;

}

.main-block-info-section  .hd {
    font-size: 30px;
    color: #161514;
    letter-spacing: 0.2px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 40px;
    text-align: center;
}

.main-about-block {
    background: #FFFFFF;
    border: 4px solid #F1F3F5;
    border-radius: 20px;
    padding: 100px 70px 90px;
    box-sizing:border-box;
    position: relative;
}

.main-about-units-row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.main-about-unit {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
}

.main-about-unit::before {
    content:'';
    position: absolute;
    width:118px;
    height:118px;
    border-radius: 300px;
    background-color:#F1F3F5;
    top:-50%;
    bottom:-50%;
    z-index:-1;
    margin:auto;
    left:40px;
}



.mau-count {
    font-size: 60px;
    color: #36394B;
    letter-spacing: 0;
    text-align: right;
    font-weight: 800;
    margin-right: 10px;
}

.main-about-unit p {
    font-size: 18px;
    color: #36394B;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 500;
    margin-top: -10px;
    position: relative;
}

.main-about-unit p::after {
    width:50px;
    height:5px;
    border-radius: 10px;
    background-color:#3e3027;
    content:'';
    position: absolute;
    bottom:-8px;
    left:0;
}

.main-about-title-row {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    top: -27px;
}

.main-about-title {
    font-size: 36px;
    color: #36394B;
    text-align: center;
    line-height: 46px;
    font-weight: 800;
    background-color: #fff;
    width: auto;
    padding:0 20px;
    box-sizing: border-box;
}

.gray-block-text{
    min-height: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gray-text-wrapper{
    width: 50%;
}

.gray-text-wrapper .hd{
    color: #ffffff;
    background: #E31E25;
    font-weight: 700;
    background: #E31E25;
    border-radius: 100px 0 0 100px;
    font-size: 42px;
    padding: 27px 54px;
    position: relative;

}

.gray-text-wrapper .hd:after{
    background: #E31E25;
    height: 106px;
    position: absolute;
    right: -2000px;
    top:0;
    width: 2000px;
    content: '';
}

.gray-text-wrapper .anons{
    font-size: 22px;
    color: #161514;
    line-height: 30px;
    font-weight: 700;
    margin: 34px 0 24px 0;
}

.gray-text-wrapper .gray-text{
    font-size: 16px;
    color: #161514;
    line-height: 30px;
    font-weight: 500;
}


.main-check-block-section {
    padding:103px 0 50px 0;
    background: url(../img/products1.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
     overflow-x: hidden;
}

.main-check-block-panel {
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 100%;
}

.main-check-scheme {
    box-shadow: 20px 25px 40px -2px rgba(30,116,90,0.10);
    border-radius:20px;
    background-color:#fff;
    width: 55%;
    margin-right: 5%;
    padding:55px 20px;
    box-sizing: border-box;
}

.main-check-scheme-title {
    font-size: 36px;
    color: #36394B;
    letter-spacing: 0;
    text-align: center;
    line-height: 46px;
    font-weight: 800;
    margin-bottom: 35px;
}

.main-check-scheme img {
    width:100%;
}

.main-check-text-list {
    width: 40%;
}

.main-check-text-list ul {
    list-style: none;
    counter-reset: list-count-1;
}

.main-check-text-list ul li {
    margin-bottom:20px;
    font-size: 16px;
    color: #36394B;
    letter-spacing: 0;
    line-height: 24px;
    padding-left:44px;
    position: relative;
    counter-increment: list-count-1;
}



.main-check-text-list ul li::after {
    content:counter(list-count-1);
    position:absolute;
    left:0;
    top:0;
    width:25px;
    height:25px;
    color:#fff;
    background: #3e3027;
    display:flex;
    border-radius: 100px;
    justify-content: center;
    align-items:center;
    font-size:16px;
    text-align:center;
    line-height: 24px;
}

.section-title {
    font-size: 36px;
    color: #36394B;
    letter-spacing: 0;
    line-height: 46px;
    font-weight: 800;
    text-align: center;
    width:100%;
    max-width:675px;
    margin:0 auto 60px;
    display:block;
}

.fedlaw-list {
    display:flex;
    justify-content: space-between;
    width:100%;
    margin:40px 0;
}

.fedlaw-unit {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width:33%;
}

.fedlaw-unit * {
    z-index: 2;
}

.flu-pic-wrap {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    height:80px;
    z-index:1;
    width:80px;
}

.flu-pic-wrap img{
    max-height: 80px;
}

.flu-pic-wrap::before {
    content:'';
    position: absolute;
    left:-100%;
    right:-100%;
    bottom:0;
    top:50px;
    margin:auto;
    background-color: #F8F9FA;
    border-radius: 200px;
    width:190px;
    height:190px;
    z-index: -1;
}

.flu-title {
    font-size: 18px;
    color: #212529;
    letter-spacing: 0;
    text-align: center;
    line-height: 28px;
    font-weight: 500;
    max-width: 400px;
    width:100%;
    margin-top:20px;
}

.fedlaw-unit p {
    font-size: 16px;
    color: #495057;
    letter-spacing: 0;
    text-align: center;
    line-height: 28px;
    margin-top:8px;
}

.main-fedlaw-section {
    margin-bottom: 80px;
}




.main-ban-section {
    margin-bottom: 80px;
}

.main-ban-panel {
    background:url(../img/banner-1.png)no-repeat;
    background-size:cover;
    border-radius: 20px;
    padding:46px 70px;
    box-sizing: border-box;
}

.main-ban-panel p {
    font-size: 42px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 56px;
    font-weight:800;
    width:100%;
    margin-bottom: 25px;
    max-width:800px;
}

.main-ban-panel  span {
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    max-width:420px;
}

.main-ban-panel .btn-row{
    justify-content: space-between;
    width:100%;
    flex-flow:row nowrap;
}




.main-advant-section {
    background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(56, 217, 169, 0.05) 100%);
    padding-bottom: 80px;
}

.main-advant-units-row {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    width:100%;
}

.main-advant-шnit {
    background-color: #FFFFFF;
    box-shadow: 0 10px 30px -2px rgba(30,116,90,0.10);
    border-radius: 20px;
    width:49%;
    padding:40px;
    box-sizing: border-box;
    display:flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-advant-шnit img {
    margin-right: 30px;
}

.mad-title {
    font-size: 18px;
    color: #212529;
    line-height: 28px;
    font-weight:500;
    margin-bottom: 16px;
}

.main-advant-шnit p {
    font-size: 16px;
    color: #495057;
    letter-spacing: 0;
    line-height: 28px;
}

.main-advant-panel .section-title {
    margin-bottom:60px;
}



.our-clients-section {
    margin:60px auto 80px;
}

.cc-unit img {
    margin:0 auto;
    max-width:100%;
}

.clients-carousel {
    border-bottom: 1px solid #E9ECEF;
    padding-bottom: 50px;
    margin-bottom: 50px;
}




.how-to-steps-panel {
    display:flex;
    justify-content: space-between;
    align-items: stretch;
}

.ht-step-title-block {
    width:40%;
    background: #F8F9FA;
    border-radius: 20px;
    padding:33px;
    box-sizing: border-box;
}

.ht-step-title-block p {
    font-size: 28px;
    color: #36394B;
    letter-spacing: 0;
    line-height: 38px;
    font-weight: 800;
    margin-bottom: 16px;
}

.ht-step-title-block span{
    font-size: 18px;
    color: #212529;
    letter-spacing: 0;
    line-height: 28px;
}

.ht-step {
    width:20%;
    margin-left:2%;
    border-radius: 20px;
    padding:24px;
    box-sizing: border-box;
    display:flex;
    flex-flow:column;
    justify-content: space-between;
    align-items: flex-start;
    min-width:226px;
}

.ht-step-unit-title {
    font-weight:800;
    font-size: 88px;
    color: #36394B;
    letter-spacing: 0;
    line-height: 1;
    position: relative;
}

.ht-step-unit-title::after {
    content:'';
    position: absolute;
    right: -57px;
    width:20px;
    top: 42%;
    height:10px;
    background:url(../img/arrow-right.svg)no-repeat;
}

.ht-step:last-child .ht-step-unit-title::after {
    display:none;
}

.ht-step.c-1 {
    background-color: #63E6BE;
}

.ht-step.c-1 .ht-step-unit-title {
    color:#5dd4b2
}


.ht-step.c-2 {
    background-color: #3e3027;
}

.ht-step.c-2 .ht-step-unit-title {
    color:#37c89f;
}

.ht-step.c-3 {
    background-color: #20C997;
}

.ht-step.c-3 .ht-step-unit-title {
    color:#21ba8f;
}

.ht-step p {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 28px;
    font-weight:500;
}

.cookie-panel-block {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 11px;
}

.cookie-panel-close-button {
    margin-left: 12px;
    text-decoration: underline;
    cursor: pointer;
}



.how-to-steps-section {
    margin-bottom: 50px;
}

.plans-list {
    display:flex;
    margin:40px auto;
    display:flex;
    justify-content: center;
    align-items: stretch;
}

.pl-unit {
    padding:30px;
    box-sizing:border-box;
    box-shadow: 0 10px 30px -2px rgba(30,116,90,0.10);
    border-radius: 20px;
    background-color:#fff;
    display:flex;
    flex-flow:column;
    align-items: center;
    justify-content: space-between;
    max-width:282px;
    margin-right:32px;
}

.pl-unit:nth-child(3n) {
    margin-right: 0;
}

.pl-unit-pic-wrap {
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    margin-bottom: 20px;
    padding:5px;
    box-sizing: border-box;
}

.pl-unit-title {
    font-size: 24px;
    color: #36394B;
    text-align: center;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 12px;
}

.pl-unit-info-wrap p {
    font-size: 16px;
    color: #495057;
    text-align: center;
    line-height: 28px;
    margin-bottom: 18px;
}

.pl-price-block {
    border-top:1px solid #E9ECEF;
    padding-top:20px;
}

.pl-price {
    font-size: 26px;
    color: #3e3027;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
    margin-bottom:16px;
}

.pl-price span{
    font-size: 14px;
    color: #ADB5BD;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
}




.anyquestion-panel {
    border-radius: 20px;
    background:url(../img/banner-2.png)no-repeat;
    background-size:cover;
    padding:88px 20px;
}

.anyquestion-panel p {
    display:block;
    color:#fff;
    font-size: 42px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 56px;
    font-weight:800;
    margin-bottom: 8px;
}

.anyquestion-panel span {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
    font-weight: 500;
    display:block;
    margin-bottom:32px;
}

.anyquestion-panel .btn-row {
    justify-content: center;
}

.ts-good-unit {
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 20px;
    margin:0 20px;
    overflow:hidden;
    display:flex !important;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    padding:20px;
    box-sizing: border-box;
}

.ts-good-unit img {
    margin-bottom:20px;
}

.ts-good-unit p {
    font-size: 16px;
    color: #212529;
    text-align: center;
    line-height: 28px;
    font-weight: 500;
}

.tech-support-goods-section {
    margin:80px 0;
}



.often-question-section {
    background-color:#F8F9FA;
    padding:60px 0;
}

.often-question-panel {
    display:Flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width:990px;
}

.often-ask-title-block {
    width:367px;
    min-width: 367px;
    margin-right:40px;
}

.often-ask-title {
    font-size: 36px;
    color: #36394B;
    line-height: 46px;
    font-weight: 800;
    margin-bottom: 24px;
}

.often-ask-title-block p {
    font-size: 16px;
    color: #495057;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 32px;
}


.often-answer-block {
    width:100%;
    max-width:588px;
}


.often-answer-unit {
    background: #FFFFFF;
    box-shadow: 0 10px 20px -2px rgba(33,37,41,0.10);
    border-radius: 10px;
    padding:16px 20px;
    box-sizing:border-box;
    margin-bottom: 20px;
}

.often-answer-unit > p {
    font-size: 16px;
    color: #212529;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
    transition: 0.2s;
}

.often-answer-unit > p::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 11px;
    height: 6px;
    background: url(../img/chevron.svg)no-repeat;
    background-size: contain;
    transition: 0.2s;
}

.often-answer-unit > p.active::after {
    transform:rotate(-180deg);
}

.often-answer-unit > p.active {
    color:#3e3027;
}

.often-answer-unit-text-block {
    display:none;
}

.often-answer-unit-text-block p {
    font-size: 16px;
    color: #495057;
    letter-spacing: 0;
    line-height: 28px;
}

.often-answer-unit-text-block p:first-child {
    border-top:1px solid #E9ECEF;
    padding-top: 12px;
    box-sizing: border-box;
    margin-top: 16px;
}

.footer {
    background-color: #f3b326;
    padding:40px 0 30px;
    box-sizing: border-box;

}

.auth-block{
    background: rgba(206, 206, 206, 0.43);
    border-radius: 30px;
    padding: 58px 101px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.textpage-auth{
    margin-bottom: 20px;
}

.footer .auth-block{
    background: rgba(255, 255, 255,0.2);
    border-radius: 30px;
    padding: 58px 101px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.auth-block #login-form{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.auth-block .field-loginform-accept_check{
    width: 100%;
}

.auth-block #login-form input[type="submit"]{
    background: #E31E25;
    border-radius: 10px;
    color: #ffffff;
    padding: 23px 55px;
    border:0;
    font-weight: 700;
    font-size: 16px;
    }



.auth-block input[type="text"], .auth-block input[type="password"]{
    background: #FFFFFF;
    border-radius: 10px;
    border:0;
    height: 64px;
    line-height: 64px;
    width: 383px;
    padding: 0 10px;
    box-sizing: border-box;
}

.auth-block input[type="submit"]{
    background: #E31E25;
    border-radius: 10px;
    color: #ffffff;
    padding: 17px 55px;
    border:0;
    font-weight: 700;
    font-size: 16px;
}

.copyright{
    opacity: 0.3;
    font-size: 13px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.footer-menu {
    width: 650px;
    margin:0 auto;
}

.footer-menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-menu ul li{
    padding: 20px 0;
}

.footer-menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
}


.footer .email{
    color: #ffffff;
    font-size: 13px;
    margin-bottom: 20px;
}

.footer .email img{
    margin-right: 10px;
    vertical-align: middle;
}

.footer-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}

.footer-logo-link {
    opacity: 0.5;
    margin-bottom: 6px;
}

.footer-wrapper p {
    font-size: 16px;
    color: #868E96;
    letter-spacing: 0;
    text-align: center;
    line-height: 28px;
    margin:12px 0 10px;
}

.madeby {
    font-size: 16px;
    color: #868E96;
    letter-spacing: 0;
    text-align: center;
    line-height: 28px;
}

.madeby a {
    color: #3e3027;
    text-decoration: none;
}

.madeby a:hover{
    text-decoration: underline;
}


.modal-win {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    padding:40px;
    max-width:588px;
}

.modal-title {
    font-size: 36px;
    color: #36394B;
    letter-spacing: 0;
    text-align: center;
    line-height: 46px;
    font-weight: 800;
    margin-bottom: 14px;
}

.modal-text {
    font-size: 16px;
    color: #495057;
    letter-spacing: 0;
    text-align: center;
    line-height: 25px;
    margin-bottom:30px;
}

.modal-win .input-row {
    margin-bottom: 24px;
    width:100%;

}

.modal-win .input-row input {
    width:100%;
    border-radius: 100px;
    height:50px;
    line-height: 25px;
    padding-left:28px;
    box-sizing: border-box;
    background: #F1F3F5;
    color: #495057;
    border:none;
}

.modal-win .input-row select{
    width:100%;
    border-radius: 100px;
    height:50px;
    line-height: 25px;
    padding-left:28px;
    box-sizing: border-box;
    background: #F1F3F5;
    color: #495057;
    border:none;
}

.modal-win .input-row textarea {
    width:100%;
    border-radius: 25px;
    height:120px;
    line-height: 1.3;
    padding-left:28px;
    box-sizing: border-box;
    background: #F1F3F5;
    color: #495057;
    border:none;
}

.modal-win .btn-row {
    justify-content: center;
    align-items: center;
}

.mrules {
    opacity: 0.6;
    font-size: 13px;
    color: #495057;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin-top:30px;
}

.mobile-only {
    display:none;
}

.slick-dots {
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.slick-dots button {
    border:none;
    width:10px;
    height:10px;
    background-color:#dedede;
    font-size:0;
    border-radius: 100px;
    margin:0 6px;
    transition:0.2s;
    outline:none;
}

.slick-dots .slick-active button {
    background-color:#20C997;
}

.burger-btn {
    display:none;
    justify-content: center;
    align-items:center;
    margin-left:42px;
}

.video-wrapper{
    width: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 440px;
}

.bg-video{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    overflow: hidden;
}

.gosgibdd{
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.gosgibdd a:nth-child(1){
    margin-right: 20px;
    font-size: 16px;
    color: #36394B;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: none;
    padding: 18px 32px;
    background-color: #ffd43ba1;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
}

.gosgibdd a:nth-child(2){
    font-size: 16px;
    color: #36394B;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: none;
    padding: 0px 32px;
    background-color: #ffd43ba1;
    text-decoration: none;
    text-align: center;
    transition: 0.2s;
}

.gosgibdd img{
    max-height: 80px;
}

.exam-online{
    display: block;
    margin:20px auto 0 20px;
    text-align: center;
}

.exam-online img{
    max-width: 100%;
}

.docs-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.docs-list .doc{
    margin-right: 15px;
}

.docs-list .doc img{
    max-height: 350px;
}

.fb-elem{
    margin-bottom: 30px;
}

.fb-elem div{
    margin-bottom: 10px;
}

.fb-elem .nm{
    font-weight: bold;
    margin-bottom: 10px;
}

.fb-elem .dat{
    font-size: 11px;
    margin-bottom: 10px;
}

.bg-video {
    height: auto;
    margin-left: -952px;
    margin-top: -535px;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile .inp-list {
    width: 70%;
}

.profile .card-info{
    width: 25%;
}

.ball-tab{
    border:2px solid #E31E25;
    border-radius: 20px;
}

.card-info table{
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    border:1px solid  #E31E25;
}



.card-info table td{
    border:1px solid #ccc;
    padding: 10px;
}

.profile .card-info .amount{
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #E31E25;
    padding: 5px 0;
}

.profile .help-block{
    color: #E31E25;
}


.profile .card-info img{
    width: 100%;
}

.profile-buttons{
    display: flex;
    justify-content: center;
}

.profile-buttons button, .profile-buttons a{
    margin:0 10px;
}

.inp-wrapper-50, .inp-wrapper-30{
    display: flex;
    justify-content: space-between;
}

.inp-wrapper-50 .inp-holder{
    width: 49%;
}

.inp-wrapper-30 .inp-holder{
    width: 32%;
}


.profile .inp-list .inp-holder{
    margin-bottom: 20px;
}

.profile .inp-list .inp-holder label{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.profile .inp-list .inp-holder input[type="text"]{
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 64px;
    line-height: 64px;
    padding: 0 10px;
    box-sizing: border-box;
}

.card-info img{
    margin-bottom: 10px;
}

.save-but{
    background: #e31e24;
    color: #ffffff;
    text-align: center;
    width: 280px;
    border-radius: 8px;
    margin:30px auto;
    padding: 20px;
    cursor: pointer;
}

.mobile-link-menu{
    display: none;
}

span.red{
    color: #E31E25;
    font-weight: bold;
}

.text-bold{
    font-weight: 700;
}

.profile-promo{
    display: flex;
    justify-content: space-between;

}

.profile-promo .column{
    width: 30%;
}

.profile-promo .hd-promo{
    background-color: #E31E25;
    border-radius: 20px;
    padding: 8px 32px;
    color: #FFD500;
    font-weight: bold;
    font-size: 24px;
    text-align:center;
    margin-bottom: 20px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gray-inf{
    color: #4c4c4c;
    font-size: 11px;
}

.red-block-text-big{
    background-color: #E31E25;
    border-radius: 20px;
    padding: 8px 32px;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-align:center;
    margin-bottom: 20px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.yellow-block-text-big{
    background-color: #FFD500;
    border-radius: 20px;
    padding: 8px 32px;
    color: #e31e25;;
    font-weight: bold;
    font-size: 24px;
    text-align:center;
    margin-bottom: 20px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.profile-promo p{
    margin-bottom: 20px;
}

.profile-promo .redcircle{
    background-color: #E31E25;
    border-radius: 20px;
    padding: 8px 32px;
    color: #ffffff;
    font-weight: bold;
}

.promo-tab{
    display: flex;
    justify-content: space-between;
}

.promo-tab .col{
    width: 44%;
}

.promo-tab .col span{
    display: block;
    padding: 5px 0;
    font-size: 14px;
}

.error{
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
}


@media screen and (max-width:1300px) {

    .main-text-woman .main-slider-img{
        display: none;
    }

    .header-bot-row-wrap{
        display: block;
    }

    .header-cont-block a:first-child {
        display: none;
    }

    .burger-btn {
        display: flex;
        cursor: pointer;
        width: 20px;
        height: 14px;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
    }


    .header-top-row-wrap.hid{
        display: none !important;
    }


     .bg-video {
        width: 100%;

    }

    .ht-step-title-block p {
        font-size: 24px;
        line-height: 1.4;
    }

    .profile-promo{
        display: block;
    }

    .profile-promo .column{
        display: block;
        width: 100%;
    }

    h1{
        padding-top: 20px;
    }

    .main-slider-text-clock .slider-content
    {
        width: 100%;
    }

    .mobile-link-menu{
        display: block;
    }

    .main-account{
        display: none;
    }

    .auth-block #login-form{
        display: block;
        padding: 20px;
        box-sizing: border-box;
    }

    .footer .auth-block input[type="text"], .footer .auth-block input[type="password"]{
        width: 100% !important;
    }

    .footer .copyright{
        opacity: 1;
        font-size: 13px;
        color: #ffffff;
        margin-bottom: 20px;
        text-align: center;
    }

    .header-bot-row{
        background:#e31e25;
    }

    .gray-text-wrapper{
        width: 100%;
    }

    .profile{
        display: block;
    }

    .inp-wrapper-50, .inp-wrapper-30{
        display: block;
    }

    .profile .inp-list, .profile .card-info{
        width: 100%;

    }

    .profile .card-info{
        margin-top: 20px;
    }

    .inp-wrapper-50 .inp-holder, .inp-wrapper-30 .inp-holder{
    width: 100%;
    }

    .gray-text-wrapper .hd:after{
        display: none;
    }

    .main-map-block{
        display: block;
    }

    .main-map-block .map-script-block{
        width: 100%;
    }

    .main-slider-text-clock, .main-text-woman{
        min-height: auto;
    }

    .main-slider-text-clock .hd{
        width: 100%;
    }

    .main-map-block .map-shop-list{
        width: 100%;
        box-sizing: border-box;
    }

    .footer .auth-block, .textpage-auth{
        display: block !important;
        padding: 10px;
        margin-bottom: 30px;
    }

    .footer .auth-block input[type="text"], .footer .auth-block input[type="password"], .textpage-auth input[type="text"], .textpage-auth input[type="password"] {
        height: 44px;
        line-height: 44px;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .footer .auth-block input[type="submit"], .textpage-auth input[type="submit"]{
        margin:0 auto;
        display: block;
        width: 180px;
        text-align: center;
    }


    header {
        position:fixed;
        z-index: 100;
        top:0;
        left:0;
        right:0;
        margin:auto;
        box-shadow: 0 2px 20px 0 rgba(33,37,41,0.15);
    }

    .main-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .main-nav ul li a {
        border-right:none;
        border:0;
        padding:10px 0;
    }

    .ht-step-title-block span {
        line-height: 1.4;
    }

    .header-top-row-wrap {
        display:none;
        top:0;
        left:0;
        right:0;
        margin:auto;
        width:100%;
    }


    .header-bot-row {
        padding:23px 10px;
    }

    .page-content {
        padding-top:80px;
    }

    .main-pic-slider-panel-section {
        padding-top:60px;
        padding-bottom:100px;
    }



    .main-pic-slider-unit-text-block p {
        font-size:32px;
    }

    .main-pic-graph-block-wrap {
        width: 485px;
        min-width: 435px;
        margin-left:0;
    }

    .main-about-unit {
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }

    .mau-count {
        margin-right:0;
    }

    .main-about-unit::before {
        left:0;
        right:0;
    }

    .main-about-unit p {
        margin-top:10px;
    }

    .main-about-unit p::after {
        left: 0;
        right: 0;
        top: -7px;
        margin: auto;
        bottom: auto;
    }

    .main-about-block {
        padding:70px;
    }

    .main-block-about-section {
        padding-bottom: 40px;
    }

    .how-to-steps-panel {
        flex-flow:row wrap;
    }

    .ht-step-title-block {
        width:100%;
        margin-right: 0;
        margin-bottom:26px;
    }

    .ht-step {
        width:32%;
        margin-left: 0;
        min-width: 0;
    }

    

    .logo-block img {
        max-width:180px;
    }



    .burger-btn {
        display:flex;
        cursor:pointer;
        width:20px;
        height:14px;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
    }

    .burger-btn span {
        height:2px;
        width:100%;
        background-color:#ffffff;
        transition:0.2s;
    }

    .burger-btn.active span{
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
    }

    .burger-btn.active span:nth-child(2) {
        opacity:0;
    }

    .burger-btn.active span:first-child {
        transform:rotate(45deg);
    }

    .burger-btn.active span:last-child {
        transform:rotate(-45deg);
    }






    .pl-unit {
        margin-right:12px;
    }

    .ts-good-unit {
        margin:0 10px;
    }

    .main-check-block-panel {
        flex-direction: column;
        align-items:center;
    }

    .main-check-scheme {
        width:100%;
        margin-bottom:50px;
        margin-right:0;
    }

    .main-check-text-list {
        width:100%;
    }

    .main-check-block-section {
        padding:20px 0;
    }

    .cc-unit img {
        max-width:80%;
    }

    .header-cont-block a {
        display: none;
    }

    .card-info table{
        width: 100%;
    }

    .card-info table td{
        width: 50%;
    }

    .card-info img{
        display: none;
    }

    .gray-text-wrapper .gray-text {
        font-size: 16px;
        color: #000000;
        line-height: 30px;
        font-weight: 500;
        background: rgba(255, 255, 255, 0.8);
        padding: 0 54px 54px 54px;
        border-radius: 0 0 20px 20px;
    }

    .gray-text-wrapper .hd{
        border-radius: 0;
    }

    .card-promo img{
        display: none;
    }

    .wom-promo img{
        display: none;
    }


    .header-top-row-wrap.hid{
        display: none !important;
    }

}



@media screen and (max-width:768px) {


    .header-top-row-wrap.hid{
        display: none !important;
    }

    .desktop-only{
        display: none;
    }

    .header-cont-block a:first-child {
        display:none;
    }

    .main-pic-slider-panel {
        flex-direction: column;
        align-items: center;
    }

    .main-pic-slider-unit-text-block {
        text-align: center;
        margin-bottom: 30px;
    }

    .main-pic-slider-unit-text-block .btn-row {
        justify-content: center;
    }

    .main-advant-units-row {
        flex-direction: column;
        align-items: center;
    }

    .main-advant-шnit {
        width:100%;
        margin-bottom: 20px;
    }

    .plans-list {
        display: block;
        width:100%;
    }

    .pl-price-block .btn-row {
        justify-content: center;
    }

    .pl-unit {
        margin-right:0;
        width:auto;
        display:flex !important;
        max-width: 100%;
        box-shadow:none;
        border-radius: 0;
    }

    .anyquestion-panel p {
        font-size: 36px;
    }

    .plans-list .slick-track {
        display:flex;
        align-items: stretch;
        width:auto;
    }

    .anyquestion-panel {
        padding:46px 20px;
    }

    .often-question-panel {
        flex-direction: column;
    }

    .often-ask-title-block {
        order:2;
        width:100%;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
    }

    .often-ask-title-block p {
        text-align: center;
    }

    .often-ask-title-block .btn-row {
        justify-content: center;
    }


    .often-answer-block {
        max-width:100%;
    }

    .often-answer-block {
        order:1;
    }

    .mobile-only {
        display:block;
    }

    .ht-step-unit-title::after {
        display:none;
    }

    .ht-step-title-block {
        margin-bottom: 16px;
    }

    .ht-step-unit-title {
        font-size: 58px;
    }

    .ht-step {
        width:100%;
        margin-left:0;
        margin-bottom: 16px;
    }

    .often-ask-title {
        display:none;
    }

    .main-pic-slider-unit-text-block p {
        font-size: 28px;
    }

    .section-title {
        font-size:28px;
    }

    .main-pic-graph-block-wrap {
        width:100%;
        min-width: 1px;
    }

    .main-about-units-row {
        flex-flow:column;
        align-items: flex-start;
    }

    .main-about-unit {
        flex-flow:row nowrap;
        margin-bottom: 20px;
    }

    .main-about-unit::before {
        left:-20px;
        right:auto;
        width: 68px;
        height: 68px;
    }

    .mau-count {
        width:100px;
        margin-right: 20px;
    }

    .main-about-block {
        padding:70px 40px;
    }


    .main-about-unit p::after {
        left:0;
        right:auto;
    }

    .main-about-unit {
        align-items: flex-start;
    }

    .fedlaw-list {
        flex-direction: column;
    }

    .fedlaw-unit {
        width:100%;
        margin-bottom: 50px;
    }

    .main-ban-panel p {
        font-size:32px;
        line-height: 1.3;
    }

    .main-ban-panel {
        padding:30px;
    }

    .main-ban-panel .btn-row {
        flex-direction: column;
    }

    .main-ban-panel span {
        margin-bottom: 20px;
    }

    .main-advant-section {
        padding-bottom:40px;
    }
}

@media screen and (max-width:480px) {

    .desktop-only{
        display: none;
    }

    .main-advant-шnit {
        flex-direction: column;
        align-items: center;
        padding:20px;
    }

    .main-advant-шnit img {
        margin-bottom: 20px;
        margin-right:0;
    }

    .mau-count {
        font-size:30px;
        text-align: left;
        width:40px;
    }

    .main-about-unit p {
        font-size: 15px;
    }



    .section-title {
        font-size: 24px;
    }

    .main-about-unit::before {
        left: -10px;
        right: auto;
        width: 48px;
        height: 48px;
    }

    .mpg-pano {
        padding:12px 10px 0 10px;
    }

    .main-about-title-row {
        position: relative;
        top:0;
        margin-bottom: 30px;
    }

    .main-about-block {
        padding:20px;
    }


    .graph-unit-text {
        font-size:12px;
    }

    .graph-unit-text span {
        font-size: 16px;
    }

    .graph-block {
        padding:20px 10px;
    }

    .header-cont-block a {
        display:none;
    }

    .page-content {
        padding-top: 66px;
    }

    .main-pic-slider-unit-text-block span {
        font-size: 16px;
    }

    .main-pic-slider-unit-text-block p {
        font-size: 22px;
    }

    .section-title {
        font-size:22px;
        line-height:1.3;
    }

    .main-about-title {
        font-size:22px;
        line-height:1.3;
    }
}
